*{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    transition: all ease .5s;
}
p{
    font-size: small;
    font-family: fantasy;
}
header{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}
body{
    background-image: url('./Fondo/fondo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
main{
    display: flex;
    place-content: center;
    flex-wrap: wrap;
}
.cartaytexto{
    padding: 10px;
    width: 19pc;
}
.cartaytexto:hover .pokemon{
    opacity: 1;
    transform: scale(1.2);
}
.imagen{
    background-color: #616161;
    display: flex;
    position: relative;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
    opacity: 0.09;
}

.cartaytexto:hover .imagen{
    background-color: #ffffff;
    opacity: 1;
}

.cartaytexto:hover .numero{
    transform: translatey(20px) scale(1.2);
}
.pokemon{
    width: 12pc;
    height: 12pc;
    position: relative;
    top: 30px;
}
/*.pokemon:hover{
    transform: scale(1.2);
}*/



.numero{
    font-family: fantasy;
    color: #616161;
    position: absolute;
    font-size: 80px;
    top: -10px;
}
/*.numero:hover{
    transform: translatey(20px) scale(1.5);
}*/
.texto{
    background-color: #000;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}
.texto1, .texto3{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.texto2{
    display: flex;
    align-items: center;
    gap: 42%;
}
.color2{
    border-radius: 15px;
    padding: 3px;
}
footer{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    gap: 10px;
}